In [6]:
def find_bigrams(sentence):
    bigram = []
    word_list = sentence.split()
    for i in range(0,len(word_list)-1):
        bigram_tuple = (word_list[i], word_list[i+1])
        bigram.append(bigram_tuple)
    
    return bigram

sentence = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""
find_bigrams(sentence)

[('Have', 'free'),
 ('free', 'hours'),
 ('hours', 'and'),
 ('and', 'love'),
 ('love', 'children?'),
 ('children?', 'Drive'),
 ('Drive', 'kids'),
 ('kids', 'to'),
 ('to', 'school,'),
 ('school,', 'soccer'),
 ('soccer', 'practice'),
 ('practice', 'and'),
 ('and', 'other'),
 ('other', 'activities.')]

In [4]:
def find_bigrams(sentence):
    bigram = []
    i = 0
    word_list = sentence.split()
    while i < len(word_list)-1:
        
        bigram_tuple = (word_list[i], word_list[i+1])
        print(bigram_tuple)
        bigram.append(bigram_tuple)
        i += 1
    
    return bigram

sentence = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""
find_bigrams(sentence)

('Have', 'free')
('free', 'hours')
('hours', 'and')
('and', 'love')
('love', 'children?')
('children?', 'Drive')
('Drive', 'kids')
('kids', 'to')
('to', 'school,')
('school,', 'soccer')
('soccer', 'practice')
('practice', 'and')
('and', 'other')
('other', 'activities.')

[('Have', 'free'),
 ('free', 'hours'),
 ('hours', 'and'),
 ('and', 'love'),
 ('love', 'children?'),
 ('children?', 'Drive'),
 ('Drive', 'kids'),
 ('kids', 'to'),
 ('to', 'school,'),
 ('school,', 'soccer'),
 ('soccer', 'practice'),
 ('practice', 'and'),
 ('and', 'other'),
 ('other', 'activities.')]

In [1]:
from datetime import datetime, timedelta

In [36]:
ts = [
    '2019-01-01', 
    '2019-01-02',
    '2019-01-08', 
    '2019-02-01', 
    '2019-02-02',
    '2019-02-05',
]


def weekly_aggregation(ts):
    print(type(ts[0]))
    final_list = []
    date_last_fecthed = datetime.strptime(ts[0], '%Y-%m-%d') 
    for item in ts:
        item_date = datetime.strptime(item, '%Y-%m-%d')
        date_with_in_week =[]
        if item_date < date_last_fecthed:
            ''
        else:
            week_date = item_date + timedelta(days = 7)
            date_with_in_week = [datetime.strptime(dateitem, '%Y-%m-%d') for dateitem in ts \
                                 if datetime.strptime(dateitem, '%Y-%m-%d') < week_date and \
                                datetime.strptime(dateitem, '%Y-%m-%d') >= date_last_fecthed 
                                ]
            
            print(date_last_fecthed)
            date_last_fecthed = date_with_in_week[-1]
        
        final_list.append(date_with_in_week)
    return final_list
#     already_used_list = []
#     index_of_last_item = 0
#     for date in ts:
#         if date in already_used_list:
#             continue
#         else:
#             new_date = datetime.strptime(date, '%Y-%m-%d')
#             week_date = new_date + timedelta(days = 7)
#             print(f"new date :{new_date} week date : {week_date}")
#             date_in_week=[]
#             for j in range(ts.index(date), len(ts)-1):
#             if ts[j] in already_used_list:
#                 continue
#             elif datetime.strptime(ts[j], '%Y-%m-%d') < week_date:
#                 date_in_week.append(ts[j])
#                 already_used_list.append(ts[j])
            

#         if len(date_in_week) > 0:
#             print(f"date in week : {date_in_week}")
#             final_list.append(date_in_week)
#         print(f"already used: {already_used_list}")
#     return final_list
    

weekly_aggregation(ts)

# -> [
#     ['2019-01-01', '2019-01-02'], 
#     ['2019-01-08'], 
#     ['2019-02-01', '2019-02-02'],
#     ['2019-02-05'],
# ]

<class 'str'>
2019-01-01 00:00:00
2019-01-02 00:00:00
2019-01-08 00:00:00
2019-01-08 00:00:00
2019-02-05 00:00:00

[[datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2019, 1, 2, 0, 0)],
 [datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2019, 1, 8, 0, 0)],
 [datetime.datetime(2019, 1, 8, 0, 0)],
 [datetime.datetime(2019, 1, 8, 0, 0),
  datetime.datetime(2019, 2, 1, 0, 0),
  datetime.datetime(2019, 2, 2, 0, 0),
  datetime.datetime(2019, 2, 5, 0, 0)],
 [],
 [datetime.datetime(2019, 2, 5, 0, 0)]]

In [38]:
ts = [
    ['2019-01-01', '2019-01-02'], 
    ['2019-01-08'], 
    ['2019-02-01', '2019-02-02'],
    ['2019-02-05'],
]

if '2019-01-01' in ts:
    print("yes")
else:
    print("no")

no

In [33]:
ts

['2019-01-01',
 '2019-01-02',
 '2019-01-08',
 '2019-02-01',
 '2019-02-02',
 '2019-02-05']

In [13]:
datetime.strptime('2011-02-02', '%Y-%m-%d')
datetime.strptime('99-02-02', '%y-%m-%d')
datetime.strptime('2011-may-02', '%Y-%b-%d')

datetime.datetime(2011, 5, 2, 0, 0)

In [14]:
datetime.today()

datetime.datetime(2022, 7, 20, 21, 27, 47, 764105)

In [20]:
lst = [[2,3], 4, [5,6]]

TypeError: can only concatenate list (not "int") to list

In [21]:
text = [["Hello", "World!"], ["Lets", "Eat!"]]

double_comprehension = [word for words in text for word in words]

print(double_comprehension)

['Hello', 'World!', 'Lets', 'Eat!']

In [22]:
text = [["Hello", "World!"], ["Lets", "Eat!"]]
final_lst = []
for words in text:
    for word in words:
        final_lst.append(word)
print(final_lst)

['Hello', 'World!', 'Lets', 'Eat!']

In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame({
    "col1": [1,2,3,4,5,6],
    "col2": ["A", "b", "c", "D", "E", "F"]
}, index = ["id1","id2","id3","id4","id5","id6"])

In [14]:
df

     col1 col2
id1     1    A
id2     2    b
id3     3    c
id4     4    D
id5     5    E
id6     6    F

In [32]:
index = df[df["col1"] == 2].index
df.loc[index]

     col1 col2
id2     2    b

In [11]:
df.iloc[0]

col1    1
col2    A
Name: 1, dtype: object

In [33]:
from datetime import datetime

In [34]:
mystring = "Hello World!"

In [35]:
mystring[0]

'H'

In [36]:
mystring[9]

'l'

In [37]:
mystring[-3]

'l'

In [38]:
mystring[-2:]

'd!'

In [44]:
mystring.index("l")

2

In [48]:
mydict ={"o": "m"}
mystring.replace("o", "m")

'Hellm Wmrld!'

In [49]:
my_numbers = [1,2,3,4,5,6,7,8,9,10,11]

even_numbers = [number for number in my_numbers if number%2 == 0]

In [50]:
even_numbers

[2, 4, 6, 8, 10]

In [54]:
name = "Sam"
name = "P" + name[1:]

In [60]:
my_list = ["John", "is", "Good"]
' '.join(my_list)

'John is Good'

In [62]:
hello = list(mystring)

In [63]:
hello

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [64]:
"".join(hello)

'Hello World!'

In [67]:
result = 104.12345
round(result,2)

104.12

In [66]:
print("The result is {:.2f}".format(result))

The result is 104.12

In [69]:
print(f"The result is {round(result, 2)}")

The result is 104.12

In [70]:
hello[::-1]

['!', 'd', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H']

In [72]:
my_list + ["Ok"]

['John', 'is', 'Good', 'Ok']

In [73]:
my_list

['John', 'is', 'Good']

In [74]:
my_list.reverse()

In [75]:
my_list

['Good', 'is', 'John']

In [76]:
my_list.extend([1,2,3,4,5])

In [77]:
my_list

['Good', 'is', 'John', 1, 2, 3, 4, 5]

In [79]:
my_list.insert(3,'OK')

In [80]:
my_list

['Good', 'John', 'is', 'OK', 1, 2, 3, 4, 5]

In [81]:
my_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}

In [90]:
my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [92]:
my_dict.values()

dict_values([1, 2, 3])

In [93]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [95]:
for items in my_dict.items():
    print(items)

('a', 1)
('b', 2)
('c', 3)

In [99]:
for x in my_dict:
    print(my_dict[x])

1
2
3

In [106]:
my_tuple =(1,3,4)

In [110]:
my_tuple.count(4)

1

In [113]:
my_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [115]:
new_lst = [1,2,3,4,5]
max(new_lst)

5

In [3]:
def solution(N):
    # write your code in Python 3.6
    binary_number = bin(N)[2:]
    print(binary_number)
    gap = 0
    first_1 = binary_number.index("1")
    for i in range(first_1, len(binary_number)):
        if char == 1:
            
    return gap

In [4]:
solution(1041)

10000010001
0

ValueError: substring not found

In [7]:
import queue

In [8]:
new_q = queue.Queue()

In [9]:
new_q.put('X')

In [10]:
new_q

In [12]:
new_q.qsize()

1

In [16]:
for item in list(new_q.queue):
    print(item)

X

In [20]:
def recurringchar(a):
    no_recurring = 0
    for char in a:
        if a.count(char) > 1:
            no_recurring  = 1
            return char
    return "None"

In [21]:
recurringchar("interview")

'i'

In [22]:
roots = ["cat", "bat", "rat"]
sentence = "the cattle was rattled by the battery"

In [34]:
listofword = sentence.split(" ")

In [44]:
upd_s = []
listofword = sentence.split(" ")
for item in roots:
    for i in range(len(listofword)):
        if listofword[i].startswith(item):
               listofword[i] = item    
" ".join(listofword)

'the cat was rat by the bat'

In [39]:
sentence.replace("cattle", "cat")

'the cat was rattled by the battery'

In [ ]:
def findcomb(lst, target):
    final_list = []
    diff = 0
    for number in lst:
        while diff > 0:
            diff = target - number
            if diff > a