In [1]:
import pandas as pd

In [2]:
pd.read_excel("Data - Single Worksheet.xlsx")

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [7]:
pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name = ["Data 1", "Data 2"])

{'Data 1':   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 'Data 2':   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

In [10]:
df = pd.read_parquet("part-00000-tid-2280722015745815733-95cc362c-099d-4fc8-9556-d4dbcf3f940c-1-1-c000.snappy.parquet")

In [11]:
df.head(3)

,Id,Correlationid,Operationname,Status,Eventcategory,Level,Time,Subscription,Eventinitiatedby,Resourcetype,Resourcegroup
0,1,66641e13-d19f-4ce5-aafd-9d5d7befa557,Delete SQL database,Succeeded,Administrative,Informational,2021-06-15 04:44:38.223,20c6eec9-2d80-4700-b0f6-4fde579a8783,Microsoft Azure Synapse Resource Provider,Microsoft.Sql/servers/databases,synapseworkspace-managedrg-bd2eb25e-aba7-4f43-...
1,2,66641e13-d19f-4ce5-aafd-9d5d7befa557,Delete SQL database,Started,Administrative,Informational,2021-06-15 04:44:21.547,20c6eec9-2d80-4700-b0f6-4fde579a8783,Microsoft Azure Synapse Resource Provider,Microsoft.Sql/servers/databases,synapseworkspace-managedrg-bd2eb25e-aba7-4f43-...
2,3,66641e13-d19f-4ce5-aafd-9d5d7befa557,Delete SQL database,Accepted,Administrative,Informational,2021-06-15 04:44:21.702,20c6eec9-2d80-4700-b0f6-4fde579a8783,Microsoft Azure Synapse Resource Provider,Microsoft.Sql/servers/databases,synapseworkspace-managedrg-bd2eb25e-aba7-4f43-...

In [12]:
df["Time"]

0       2021-06-15 04:44:38.223
1       2021-06-15 04:44:21.547
2       2021-06-15 04:44:21.702
3       2021-06-15 04:44:31.332
4       2021-06-15 04:44:12.533
                  ...
17928   2021-05-01 18:14:01.746
17929   2021-05-01 18:14:01.946
17930   2021-05-01 18:14:13.424
17931   2021-05-01 18:14:24.239
17932   2021-05-01 18:14:57.722
Name: Time, Length: 17933, dtype: datetime64[ns]