In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("QueryResults.csv")

In [3]:
df.head()

                     m     TagName  Unnamed: 2
0  2008-07-01 00:00:00          c#           3
1  2008-08-01 00:00:00    assembly           8
2  2008-08-01 00:00:00  javascript         162
3  2008-08-01 00:00:00           c          85
4  2008-08-01 00:00:00      python         124