In [1]:
mytuple = (1,2)

In [2]:
mytuple[0]

1

In [4]:
mytuple[0] = 0

TypeError: 'tuple' object does not support item assignment

In [5]:
myset = set()

In [6]:
myset

set()

In [7]:
myset.add(1)

In [8]:
myset

{1}

In [11]:
myset.add(2)

In [12]:
myset

{1, 2}

In [14]:
newset = set([1,2,4,5,6])

In [15]:
newset

{1, 2, 4, 5, 6}

In [16]:
myset.union(newset)

{1, 2, 4, 5, 6}

In [17]:
list(myset.union(newset))

[1, 2, 4, 5, 6]

In [18]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [19]:
%%writefile myfile.txt
Hello. this is a text file
this is 2nd line
this is 3rd line

Writing myfile.txt

In [20]:
pwd

'D:\\Training\\PythonProject\\jupyter_notebooks\\pandas'

In [22]:
with open("myfile.txt") as file:
    print(file.readlines())

['Hello. this is a text file\n', 'this is 2nd line\n', 'this is 3rd line\n']

In [23]:
2**38

274877906944

In [24]:
import string

In [26]:
string.maketrans("abc")

AttributeError: module 'string' has no attribute 'maketrans'

In [27]:
table = str.maketrans(string.ascii_lowercase, string.ascii_lowercase[2:] + string.ascii_lowercase[:2])

In [28]:
print(table)

{97: 99, 98: 100, 99: 101, 100: 102, 101: 103, 102: 104, 103: 105, 104: 106, 105: 107, 106: 108, 107: 109, 108: 110, 109: 111, 110: 112, 111: 113, 112: 114, 113: 115, 114: 116, 115: 117, 116: 118, 117: 119, 118: 120, 119: 121, 120: 122, 121: 97, 122: 98}

In [29]:
"abc".translate(table)

'cde'

In [31]:
"map".translate(table)

'ocr'

In [32]:
list(string.ascii_lowercase)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [36]:
a = [0,1,2,3,4,5,6,7]
b = [2,8,9,0]

output =[]

for i in a:
    if i not in b:
        output.append(i)
print(output)

[1, 3, 4, 5, 6, 7]

In [37]:
nolist = [number for number in a if number not in b]

In [38]:
print(nolist)

[1, 3, 4, 5, 6, 7]

### COllections

In [46]:
from collections import Counter
cnt = Counter(['a', 'a', 'b', 'c'])

In [42]:
print(Counter({'A':3, 'B':5, 'C':2}))

Counter({'B': 5, 'A': 3, 'C': 2})

In [43]:
print(Counter(A=3, B=5, C=2))

Counter({'B': 5, 'A': 3, 'C': 2})

In [49]:
cnt.pop()

TypeError: pop expected at least 1 argument, got 0

In [52]:
def miniMaxSum(arr):
    # Write your code here
    
    sorted_array = sorted(arr)
    print(sorted_array)
    print
    
    minimun_sum = sum(arr[:4])
    maximun_sum = sum(arr[1:])
    
    print("{} {}".format(minimun_sum, maximun_sum))

In [53]:
miniMaxSum([7, 69, 2, 221, 8974])

[2, 7, 69, 221, 8974]
299 9266

In [62]:
'12:220:30PM'[2:-2]

':220:30'

In [67]:
for items in cnt.elements():
    print(items)

a
a
b
c