In [1]:
import pandas as pd

In [2]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [3]:
sectors = fortune.groupby(by="Sector")

In [4]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [5]:
sectors.get_group("Apparel")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

In [7]:
sectors.groups

{'Aerospace & Defense': [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], 'Apparel': [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], 'Business Services': [144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404, 440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694, 714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796, 801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993], 'Chemicals': [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], 'Energy': [2, 14, 30, 32, 42, 65, 90, 95, 98, 104, 115, 117, 121, 162, 163, 165, 166, 175, 178, 188, 190, 192, 193, 198, 214, 216, 217, 223, 225, 229, 243, 246, 247, 257, 272, 274, 279, 289, 319, 322, 324, 343, 348, 349, 350, 363, 364, 384, 387, 388, 394, 402, 403, 410, 425, 437, 438, 445, 458, 475, 483, 493, 507, 522, 541, 548, 556, 558, 569, 571, 579, 598, 600, 606, 633, 650, 656, 662, 679, 692, 696, 703, 703, 706, 711, 715, 732, 742, 743, 745, 754, 772, 784, 798, 802, 810, 817, 826, 843, 850, ...], 'Engineering & Construction': [155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516, 572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994], 'Financials': [4, 16, 23, 26, 27, 29, 35, 40, 43, 49, 50, 61, 69, 73, 74, 76, 78, 81, 82, 83, 85, 100, 105, 112, 114, 131, 135, 137, 152, 171, 179, 184, 205, 210, 222, 226, 227, 232, 236, 250, 252, 259, 264, 265, 271, 273, 275, 283, 298, 306, 311, 318, 326, 329, 332, 344, 347, 367, 368, 376, 382, 398, 401, 411, 421, 436, 442, 449, 453, 453, 471, 472, 472, 476, 479, 482, 486, 488, 494, 497, 499, 506, 509, 510, 520, 529, 531, 536, 540, 551, 561, 568, 573, 590, 603, 609, 611, 646, 651, 663, ...], 'Food and Drug Stores': [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], 'Food, Beverages & Tobacco': [41, 44, 62, 66, 84, 94, 106, 149, 153, 161, 176, 207, 215, 242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535, 542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795, 804, 889, 902, 954], 'Health Care': [5, 6, 12, 21, 22, 33, 39, 46, 52, 55, 63, 72, 79, 86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202, 263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420, 430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618, 629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815, 818, 845, 868, 881, 883, 935, 960, 965, 977, 978], 'Hotels, Resturants & Leisure': [109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557, 562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999], 'Household Products': [34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455, 533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950, 967, 992], 'Industrials': [11, 59, 75, 93, 97, 128, 134, 148, 211, 224, 360, 377, 396, 412, 419, 539, 544, 596, 622, 623, 630, 645, 655, 658, 666, 674, 690, 757, 782, 789, 806, 813, 823, 831, 832, 835, 841, 847, 866, 867, 873, 887, 942, 947, 964, 1000], 'Materials': [126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417, 418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620, 625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857, 885, 911, 982, 986], 'Media': [53, 96, 99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681, 705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989], 'Motor Vehicles & Parts': [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], 'Retailing': [1, 15, 28, 38, 47, 71, 89, 103, 111, 132, 136, 139, 143, 145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267, 269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379, 380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582, 592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748, 771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937, 940, 973], 'Technology': [3, 18, 20, 25, 31, 36, 51, 54, 77, 110, 113, 133, 150, 157, 158, 164, 173, 194, 219, 220, 230, 233, 284, 295, 300, 308, 313, 331, 385, 386, 400, 408, 409, 422, 451, 462, 464, 487, 491, 504, 505, 508, 513, 519, 524, 532, 543, 552, 563, 565, 584, 589, 593, 594, 612, 632, 634, 638, 649, 659, 673, 676, 678, 682, 688, 700, 725, 733, 736, 753, 760, 769, 778, 805, 830, 834, 842, 854, 864, 871, 888, 891, 893, 896, 904, 905, 906, 909, 912, 914, 919, 927, 931, 943, 944, 946, 956, 970, 971, 975, ...], 'Telecommunications': [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], 'Transportation': [48, 58, 67, 68, 80, 129, 142, 208, 239, 270, 353, 390, 395, 405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713, 740, 800, 814, 858, 884, 930, 933, 945, 972, 974], 'Wholesalers': [57, 64, 92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285, 315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477, 484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875, 991]}

In [8]:
sectors.indices

{'Aerospace & Defense': array([ 23,  44,  59,  87, 117, 119, 208, 244, 281, 377, 388, 489, 559,
        604, 784, 787, 835, 902, 957, 986], dtype=int64),
 'Apparel': array([ 90, 230, 339, 353, 447, 546, 574, 596, 682, 694, 725, 793, 876,
        881, 916], dtype=int64),
 'Business Services': array([143, 185, 198, 203, 220, 247, 248, 293, 306, 311, 354, 391, 403,
        439, 466, 467, 480, 484, 491, 502, 544, 625, 634, 651, 676, 693,
        713, 728, 733, 734, 736, 743, 766, 775, 776, 782, 790, 791, 795,
        800, 802, 815, 818, 819, 868, 869, 885, 938, 950, 951, 992],
       dtype=int64),
 'Chemicals': array([ 55, 100, 181, 188, 205, 252, 261, 276, 287, 295, 315, 537, 548,
        554, 565, 579, 612, 623, 653, 667, 716, 719, 723, 757, 760, 828,
        864, 897, 933, 948], dtype=int64),
 'Energy': array([  1,  13,  29,  31,  41,  64,  89,  94,  97, 103, 114, 116, 120,
        161, 162, 164, 165, 174, 177, 187, 189, 191, 192, 197, 213, 215,
        216, 222, 224, 228, 242, 245, 246, 256, 271, 273, 278, 288, 318,
        321, 323, 342, 347, 348, 349, 362, 363, 383, 386, 387, 393, 401,
        402, 409, 424, 436, 437, 444, 457, 474, 482, 492, 506, 521, 540,
        547, 555, 557, 568, 570, 578, 597, 599, 605, 632, 649, 655, 661,
        678, 691, 695, 702, 703, 705, 710, 714, 731, 741, 742, 744, 753,
        771, 783, 797, 801, 809, 816, 825, 842, 849, 850, 852, 854, 858,
        859, 861, 878, 900, 907, 920, 923, 947, 952, 954, 961, 965, 979,
        980, 982, 994, 996, 997], dtype=int64),
 'Engineering & Construction': array([154, 155, 234, 259, 300, 313, 351, 380, 432, 477, 497, 500, 515,
        571, 575, 639, 718, 737, 821, 862, 873, 891, 928, 962, 984, 993],
       dtype=int64),
 'Financials': array([  3,  15,  22,  25,  26,  28,  34,  39,  42,  48,  49,  60,  68,
         72,  73,  75,  77,  80,  81,  82,  84,  99, 104, 111, 113, 130,
        134, 136, 151, 170, 178, 183, 204, 209, 221, 225, 226, 231, 235,
        249, 251, 258, 263, 264, 270, 272, 274, 282, 297, 305, 310, 317,
        325, 328, 331, 343, 346, 366, 367, 375, 381, 397, 400, 410, 420,
        435, 441, 448, 452, 453, 470, 471, 472, 475, 478, 481, 485, 487,
        493, 496, 498, 505, 508, 509, 519, 528, 530, 535, 539, 550, 560,
        567, 572, 589, 602, 608, 610, 645, 650, 662, 670, 679, 697, 700,
        709, 711, 722, 727, 729, 749, 754, 764, 767, 780, 827, 832, 837,
        838, 843, 845, 847, 851, 860, 871, 877, 879, 896, 909, 915, 919,
        922, 924, 925, 935, 937, 958, 975, 987, 995], dtype=int64),
 'Food and Drug Stores': array([  6,  16,  18,  86, 106, 159, 180, 594, 613, 630, 668, 755, 808,
        848, 927], dtype=int64),
 'Food, Beverages & Tobacco': array([ 40,  43,  61,  65,  83,  93, 105, 148, 152, 160, 175, 206, 214,
        241, 265, 303, 335, 336, 361, 396, 412, 428, 451, 455, 459, 534,
        541, 566, 573, 586, 607, 614, 635, 663, 685, 701, 769, 786, 794,
        803, 888, 901, 953], dtype=int64),
 'Health Care': array([  4,   5,  11,  20,  21,  32,  38,  45,  51,  54,  62,  71,  78,
         85, 122, 123, 124, 129, 137, 139, 140, 167, 171, 199, 200, 201,
        262, 267, 277, 285, 286, 289, 290, 304, 324, 357, 358, 371, 419,
        429, 430, 446, 456, 464, 468, 514, 526, 536, 552, 558, 582, 617,
        628, 660, 683, 692, 696, 707, 745, 748, 765, 774, 789, 798, 814,
        817, 844, 867, 880, 882, 934, 959, 964, 976, 977], dtype=int64),
 'Hotels, Resturants & Leisure': array([108, 145, 194, 217, 240, 253, 308, 370, 443, 465, 533, 545, 556,
        561, 584, 730, 762, 763, 778, 796, 894, 914, 917, 940, 998],
       dtype=int64),
 'Household Products': array([ 33, 150, 173, 255, 260, 327, 337, 344, 369, 433, 440, 449, 454,
        532, 549, 553, 600, 664, 698, 715, 855, 889, 899, 906, 931, 949,
        966, 991], dtype=int64),
 'Industrials': array([ 10,  58,  74,  92,  96, 127, 133, 147, 210, 223, 359, 376, 395,
        411, 418, 538, 543, 595, 621, 622, 629, 644, 654, 657, 665, 673,
        689, 756, 781, 788, 805, 812, 822, 830, 831, 834, 840, 846, 865,
        866, 872, 886, 941, 946, 963, 999], dtype=int64),
 'Materials': array([125, 126, 169, 243, 250, 302, 320, 340, 355, 372, 374, 382, 416,
        417, 425, 434, 445, 479, 488, 513, 517, 576, 585, 615, 616, 619,
        624, 627, 636, 638, 640, 659, 666, 686, 690, 750, 773, 792, 856,
        884, 910, 981, 985], dtype=int64),
 'Media': array([ 52,  95,  98, 202, 212, 254, 326, 365, 405, 413, 524, 529, 680,
        704, 706, 721, 740, 751, 758, 761, 820, 912, 967, 968, 988],
       dtype=int64),
 'Motor Vehicles & Parts': array([  7,   8,  69, 146, 153, 168, 280, 309, 333, 338, 423, 427, 469,
        587, 590, 603, 646, 669, 717, 738, 810, 956, 960, 978], dtype=int64),
 'Retailing': array([  0,  14,  27,  37,  46,  70,  88, 102, 110, 131, 135, 138, 142,
        144, 176, 179, 190, 195, 196, 227, 233, 236, 237, 239, 257, 266,
        268, 279, 292, 296, 298, 301, 329, 341, 345, 360, 364, 373, 378,
        379, 392, 414, 426, 438, 494, 499, 501, 510, 511, 516, 522, 581,
        591, 601, 606, 609, 620, 642, 643, 647, 656, 674, 688, 720, 747,
        770, 772, 806, 811, 823, 824, 826, 839, 875, 893, 898, 921, 936,
        939, 972], dtype=int64),
 'Technology': array([  2,  17,  19,  24,  30,  35,  50,  53,  76, 109, 112, 132, 149,
        156, 157, 163, 172, 193, 218, 219, 229, 232, 283, 294, 299, 307,
        312, 330, 384, 385, 399, 407, 408, 421, 450, 461, 463, 486, 490,
        503, 504, 507, 512, 518, 523, 531, 542, 551, 562, 564, 583, 588,
        592, 593, 611, 631, 633, 637, 648, 658, 672, 675, 677, 681, 687,
        699, 724, 732, 735, 752, 759, 768, 777, 804, 829, 833, 841, 853,
        863, 870, 887, 890, 892, 895, 903, 904, 905, 908, 911, 913, 918,
        926, 930, 942, 943, 945, 955, 969, 970, 974, 983, 989], dtype=int64),
 'Telecommunications': array([  9,  12,  36, 115, 158, 186, 291, 332, 398, 442, 460, 495, 525,
        618, 785], dtype=int64),
 'Transportation': array([ 47,  57,  66,  67,  79, 128, 141, 207, 238, 269, 352, 389, 394,
        404, 406, 415, 431, 458, 520, 527, 569, 577, 641, 671, 708, 712,
        739, 799, 813, 857, 883, 929, 932, 944, 971, 973], dtype=int64),
 'Wholesalers': array([ 56,  63,  91, 101, 107, 118, 121, 166, 182, 184, 211, 275, 284,
        314, 316, 319, 322, 334, 350, 356, 368, 390, 422, 462, 473, 476,
        483, 563, 580, 598, 626, 652, 684, 726, 746, 779, 807, 836, 874,
        990], dtype=int64)}

In [9]:
sectors.max()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [10]:
sectors.get_group("Retailing")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
15,Costco,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
38,Target,Retailing,General Merchandisers,"Minneapolis, MN",73785,3363,341000
47,Lowe’s,Retailing,Specialty Retailers: Other,"Mooresville, NC",59074,2546,225000
...,...,...,...,...,...,...,...
899,Sears Hometown & Outlet Stores,Retailing,Specialty Retailers: Other,"Hoffman Estates, IL",2288,-27,2918
922,Outerwall,Retailing,Specialty Retailers: Other,"Bellevue, WA",2195,44,2670
937,hhgregg,Retailing,Specialty Retailers: Other,"Indianapolis, IN",2129,-133,4941
940,Restoration Hardware,Retailing,Specialty Retailers: Other,"Corte Madera, CA",2109,91,4200
973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200

In [11]:
sectors.min()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [12]:
sectors.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [13]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [14]:
sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

In [15]:
sectors.agg(["min", "max"])

                                                    Company  \
                                                        min
Sector
Aerospace & Defense                           B/E Aerospace
Apparel                                            Carter’s
Business Services                            ABM Industries
Chemicals                                       A. Schulman
Energy                                                  AES
Engineering & Construction                            AECOM
Financials                                              AIG
Food and Drug Stores                             CVS Health
Food, Beverages & Tobacco        Alliance One International
Health Care                                          AbbVie
Hotels, Resturants & Leisure                Bloomin’ Brands
Household Products                            Avon Products
Industrials                                              3M
Materials                            A-Mark Precious Metals
Media                                          AMC Networks
Motor Vehicles & Parts        Allison Transmission Holdings
Retailing                              99 Cents Only Stores
Technology                              Activision Blizzard
Telecommunications                                     AT&T
Transportation                             Alaska Air Group
Wholesalers                                          Airgas

                                                      \
                                                 max
Sector
Aerospace & Defense                         Woodward
Apparel                         Wolverine World Wide
Business Services                      Western Union
Chemicals                          Westlake Chemical
Energy                                   Xcel Energy
Engineering & Construction              Tutor Perini
Financials                            Zions Bancorp.
Food and Drug Stores              Whole Foods Market
Food, Beverages & Tobacco            WhiteWave Foods
Health Care                          inVentiv Health
Hotels, Resturants & Leisure              Yum Brands
Household Products                     Vista Outdoor
Industrials                       Zebra Technologies
Materials                     Worthington Industries
Media                                    iHeartMedia
Motor Vehicles & Parts               Wabash National
Retailing                                    hhgregg
Technology                            salesforce.com
Telecommunications               Windstream Holdings
Transportation                         YRC Worldwide
Wholesalers                      World Fuel Services

                                                             Industry  \
                                                                  min
Sector
Aerospace & Defense                             Aerospace and Defense
Apparel                                                       Apparel
Business Services                              Advertising, marketing
Chemicals                                                   Chemicals
Energy                                                         Energy
Engineering & Construction                  Engineering, Construction
Financials                                           Commercial Banks
Food and Drug Stores                             Food and Drug Stores
Food, Beverages & Tobacco                                   Beverages
Health Care                   Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure                            Food Services
Household Products                        Home Equipment, Furnishings
Industrials                           Construction and Farm Machinery
Materials                                   Building Materials, Glass
Media                                                   Entertainment
Motor Vehicles & Parts                       Motor Vehicles and Parts
Retailing                              Automotive Retailing, Services
Technology                                       Computer Peripherals
Telecommunications                                 Telecommunications
Transportation                                               Airlines
Wholesalers                                             Miscellaneous

                                                                              \
                                                                         max
Sector
Aerospace & Defense                                    Aerospace and Defense
Apparel                                                              Apparel
Business Services                                           Waste Management
Chemicals                                                          Chemicals
Energy                                           Utilities: Gas and Electric
Engineering & Construction                                      Homebuilders
Financials                                                        Securities
Food and Drug Stores                                    Food and Drug Stores
Food, Beverages & Tobacco                                            Tobacco
Health Care                                         Wholesalers: Health Care
Hotels, Resturants & Leisure                        Hotels, Casinos, Resorts
Household Products                                             Miscellaneous
Industrials                                                    Miscellaneous
Materials                                              Packaging, Containers
Media                                                   Publishing, Printing
Motor Vehicles & Parts                              Motor Vehicles and Parts
Retailing                                         Specialty Retailers: Other
Technology                    Semiconductors and Other Electronic Components
Telecommunications                                        Telecommunications
Transportation                                       Trucking, Truck Leasing
Wholesalers                                    Wholesalers: Food and Grocery

                                            Location                          \
                                                 min                     max
Sector
Aerospace & Defense                       Berwyn, PA             Wichita, KS
Apparel                                  Atlanta, GA       Winston-Salem, NC
Business Services                      Arlington, VA                Troy, MI
Chemicals                              Allentown, PA          Wilmington, DE
Energy                                     Akron, OH          Washington, DC
Engineering & Construction               Atlanta, GA         Watsonville, CA
Financials                               Atlanta, GA           Worcester, MA
Food and Drug Stores                      Austin, TX          Woonsocket, RI
Food, Beverages & Tobacco            Arden Hills, MN       Winston-Salem, NC
Health Care                          Abbott Park, IL                York, PA
Hotels, Resturants & Leisure           Ann Arbor, MI          Wyomissing, PA
Household Products                       Atlanta, GA             Zeeland, MI
Industrials                   Annapolis Junction, MD          Wilmerding, PA
Materials                                Atlanta, GA          Wyomissing, PA
Media                              Beverly Hills, CA              Sussex, WI
Motor Vehicles & Parts                     Akron, OH  Van Buren Township, MI
Retailing                                 Ankeny, IA                York, PA
Technology                              Angleton, TX              Woburn, MA
Telecommunications                      Bethpage, NY            Stamford, CT
Transportation                           Atlanta, GA         Thomasville, NC
Wholesalers                              Atlanta, GA             Waltham, MA

                             Revenue         Profits        Employees
                                 min     max     min    max       min      max
Sector
Aerospace & Defense             1923   96114    -240   7608      6955   197200
Apparel                         2204   30601      82   3273      5978    65300
Business Services               1910   19330   -1481   6328      2400   216500
Chemicals                       2084   48778    -816   7685      1979    52000
Energy                          1898  246204  -23119  16150       480    75600
Engineering & Construction      1909   18114    -155    803      1036    92000
Financials                      1902  210821   -1194  24442       187   331000
Food and Drug Stores            2151  153290     -62   5237      1616   431000
Food, Beverages & Tobacco       2066   67702    -253   7351      1857   263000
Health Care                     1987  181241    -458  18108      2924   203500
Hotels, Resturants & Leisure    1896   25413   -1394   5920      8500   505000
Household Products              1914   78756   -1149   7036      4406   110000
Industrials                     1895  140389   -6126   4833      4104   333000
Materials                       1924   22534   -1642    991        52    60000
Media                           1921   52465    -881   8382      2341   185000
Motor Vehicles & Parts          1986  152356    -889   9687      2700   215000
Retailing                       1999  482130   -1243  14694      2155  2300000
Technology                      1920  233715   -4359  53394      2285   411798
Telecommunications              2726  146801    -271  17879      2700   281450
Transportation                  1995   58363    -191   7610      1223   341240
Wholesalers                     1917   48681    -502   1472       500    78500

In [7]:
sectors.agg({"Revenue": "sum",
            "Profits": "mean",
            "Employees": "sum"})

                              Revenue      Profits  Employees
Sector
Aerospace & Defense            357940  1437.100000     968057
Apparel                         95968   549.066667     346397
Business Services              272195   553.470588    1361050
Chemicals                      243897   754.266667     463651
Energy                        1517809  -602.024590    1188927
Engineering & Construction     153983   204.000000     406708
Financials                    2217159  1872.007194    3359948
Food and Drug Stores           483769  1117.266667    1395398
Food, Beverages & Tobacco      555967  1195.744186    1211632
Health Care                   1614707  1414.853333    2678289
Hotels, Resturants & Leisure   169546   827.880000    2484245
Household Products             234737   515.285714     646038
Industrials                    497581   451.391304    1545229
Materials                      259145   102.976744     638123
Media                          220764   973.880000     550314
Motor Vehicles & Parts         482540  1079.083333    1082560
Retailing                     1465076   597.875000    6227629
Technology                    1377600  1769.343137    3578949
Telecommunications             461834  3242.466667     832468
Transportation                 408508  1226.916667    1536793
Wholesalers                    444800   205.825000     525597

In [8]:
sectors["Revenue"].agg(["sum", "mean"])

                                  sum          mean
Sector
Aerospace & Defense            357940  17897.000000
Apparel                         95968   6397.866667
Business Services              272195   5337.156863
Chemicals                      243897   8129.900000
Energy                        1517809  12441.057377
Engineering & Construction     153983   5922.423077
Financials                    2217159  15950.784173
Food and Drug Stores           483769  32251.266667
Food, Beverages & Tobacco      555967  12929.465116
Health Care                   1614707  21529.426667
Hotels, Resturants & Leisure   169546   6781.840000
Household Products             234737   8383.464286
Industrials                    497581  10816.978261
Materials                      259145   6026.627907
Media                          220764   8830.560000
Motor Vehicles & Parts         482540  20105.833333
Retailing                     1465076  18313.450000
Technology                    1377600  13505.882353
Telecommunications             461834  30788.933333
Transportation                 408508  11347.444444
Wholesalers                    444800  11120.000000

In [17]:
def split_location(x_df):
    def split_location_series(string):
        city,state = string.split(",")
        return pd.Series(
            (city,state),
            index = 'city State'.split()
        )
    res = x_df["Location"].apply(split_location_series)
    x_df[res.columns] = res
    return x_df

In [14]:
def split_location_series(string):
        city,state = string.split(",")
        return pd.Series(
            (city,state),
            index = 'City State'.split()
        )

In [18]:
split_location(fortune)

,Company,Sector,Industry,Location,Revenue,Profits,Employees,city,State
Rank,,,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,Bentonville,AR
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,Irving,TX
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,Cupertino,CA
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,Omaha,NE
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400,San Francisco,CA
...,...,...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448,Westbury,NY
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646,Portland,OR
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646,Portland,OR
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200,Dublin,OH
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480,Wauwatosa,WI

In [19]:
sector_state = fortune.groupby(["State", "Sector"])

In [21]:
sector_state.size()

State  Sector
 AL    Financials                   2
       Health Care                  1
       Materials                    1
 AR    Energy                       1
       Food, Beverages & Tobacco    1
                                   ..
 WI    Media                        1
       Motor Vehicles & Parts       2
       Retailing                    1
       Technology                   1
       Transportation               2
Length: 375, dtype: int64

In [22]:
sector_state.sum()

                                 Revenue  Profits  Employees
State Sector
 AL   Financials                   11348     2124      47832
      Health Care                   3163      183      27929
      Materials                     3422      221       7187
 AR   Energy                        3415    -2271       1258
      Food, Beverages & Tobacco    41373     1220     113000
...                                  ...      ...        ...
 WI   Media                         4678     -642      22500
      Motor Vehicles & Parts       46302     1793     152300
      Retailing                    19204      673      86000
      Technology                    2654       94      14000
      Transportation                7990      800      10802

[375 rows x 3 columns]

In [24]:
sector_state["Revenue"].apply("sum")

State  Sector
 AL    Financials                   11348
       Health Care                   3163
       Materials                     3422
 AR    Energy                        3415
       Food, Beverages & Tobacco    41373
                                    ...
 WI    Media                         4678
       Motor Vehicles & Parts       46302
       Retailing                    19204
       Technology                    2654
       Transportation                7990
Name: Revenue, Length: 375, dtype: int64

In [26]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two'],
                   'C' : [1, 5, 5, 2, 5, 5],
                   'D' : [2.0, 5., 8., 1., 2., 9.]})

In [27]:
df

     A      B  C    D
0  foo    one  1  2.0
1  bar    one  5  5.0
2  foo    two  5  8.0
3  bar  three  2  1.0
4  foo    two  5  2.0
5  bar    two  5  9.0

In [28]:
grouped = df.groupby('A')

In [29]:
grouped.size()

A
bar    3
foo    3
dtype: int64

In [33]:
grouped[["C","D"]].transform(lambda x: (x - x.mean()) / x.std())

          C         D
0 -1.154701 -0.577350
1  0.577350  0.000000
2  0.577350  1.154701
3 -1.154701 -1.000000
4  0.577350 -0.577350
5  0.577350  1.000000

In [35]:
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees,city,State
Rank,,,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,Bentonville,AR
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,Irving,TX
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,Cupertino,CA
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,Omaha,NE
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400,San Francisco,CA

In [41]:
fortune.sort_values(by=["Sector", "Revenue"], ascending = True ).drop_duplicates([ "Sector"], keep="last")

,Company,Sector,Industry,Location,Revenue,Profits,Employees,city,State
Rank,,,,,,,,,
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400,Chicago,IL
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600,Beaverton,OR
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000,Milwaukee,WI
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495,Midland,MI
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,Irving,TX
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758,Irving,TX
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,Omaha,NE
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000,Woonsocket,RI
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300,Chicago,IL
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400,San Francisco,CA
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000,Oak Brook,IL
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000,Cincinnati,OH
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000,Fairfield,CT
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000,New York,NY
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000,Burbank,CA
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000,Detroit,MI
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,Bentonville,AR
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,Cupertino,CA
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450,Dallas,TX
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240,Atlanta,GA
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700,Houston,TX

In [49]:
idx = sector_state["Revenue"].transform("max") == fortune["Revenue"]
fortune[idx]

,Company,Sector,Industry,Location,Revenue,Profits,Employees,city,State
Rank,,,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,Bentonville,AR
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,Irving,TX
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,Cupertino,CA
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,Omaha,NE
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400,San Francisco,CA
...,...,...,...,...,...,...,...,...,...
986,Schnitzer Steel Industries,Materials,Metals,"Portland, OR",1924,-197,2955,Portland,OR
989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300,Stamford,CT
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646,Portland,OR
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646,Portland,OR
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200,Dublin,OH

In [55]:
fortune.groupby("Sector").apply(lambda group: group.nlargest(1, "Revenue"))

,,Company,Sector,Industry,Location,Revenue,Profits,Employees,city,State
Sector,Rank,,,,,,,,,
Aerospace & Defense,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400,Chicago,IL
Apparel,91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600,Beaverton,OR
Business Services,144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000,Milwaukee,WI
Chemicals,56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495,Midland,MI
Energy,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,Irving,TX
Engineering & Construction,155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758,Irving,TX
Financials,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,Omaha,NE
Food and Drug Stores,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000,Woonsocket,RI
"Food, Beverages & Tobacco",41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300,Chicago,IL
Health Care,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400,San Francisco,CA
"Hotels, Resturants & Leisure",109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000,Oak Brook,IL
Household Products,34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000,Cincinnati,OH
Industrials,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000,Fairfield,CT
Materials,126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000,New York,NY
Media,53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000,Burbank,CA
Motor Vehicles & Parts,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000,Detroit,MI
Retailing,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,Bentonville,AR
Technology,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,Cupertino,CA
Telecommunications,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450,Dallas,TX
Transportation,48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240,Atlanta,GA
Wholesalers,57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700,Houston,TX

In [54]:
fortune.groupby("Sector").apply(lambda group: group.nlargest(1, "Revenue")).reset_index(level = "Rank", drop = True)

,Company,Sector,Industry,Location,Revenue,Profits,Employees,city,State
Sector,,,,,,,,,
Aerospace & Defense,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400,Chicago,IL
Apparel,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600,Beaverton,OR
Business Services,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000,Milwaukee,WI
Chemicals,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495,Midland,MI
Energy,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600,Irving,TX
Engineering & Construction,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758,Irving,TX
Financials,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000,Omaha,NE
Food and Drug Stores,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000,Woonsocket,RI
"Food, Beverages & Tobacco",Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300,Chicago,IL
Health Care,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400,San Francisco,CA
"Hotels, Resturants & Leisure",McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000,Oak Brook,IL
Household Products,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000,Cincinnati,OH
Industrials,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000,Fairfield,CT
Materials,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000,New York,NY
Media,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000,Burbank,CA
Motor Vehicles & Parts,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000,Detroit,MI
Retailing,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000,Bentonville,AR
Technology,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000,Cupertino,CA
Telecommunications,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450,Dallas,TX
Transportation,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240,Atlanta,GA
Wholesalers,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700,Houston,TX

In [5]:
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [19]:
max_df = pd.DataFrame(columns=fortune.columns)
for group, data in sectors:
    max_revenue_by_group = data.nlargest(1, "Revenue")
    max_df = pd.concat([max_df, max_revenue_by_group])
max_df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000

In [20]:
max_df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700