In [2]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return b if a > b else a
    else:
        return a if a > b else b

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(3,5)

5

In [5]:
lesser_of_two_evens(2,5)

5

In [7]:
def animal_crackers(string):
    words = string.split(" ")
    return words[0][0] == words[1][0]

In [8]:
animal_crackers("Level Llama")

True

In [9]:
animal_crackers("Crazy Llama")

False

In [17]:
def makes_twenty(int1, int2):
    int1 = int(int1)
    int2 = int(int2)
    
    if int1 + int2 == 20:
        return True
    elif int1 == 20 or int2 == 20:
        return True
    else:
        return False

In [18]:
makes_twenty(20,10)

True

In [19]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [20]:
old_macdonald("mcdonald")

'McdOnald'

In [32]:
def master_yoda(text):
    wordlist = text.split(" ")
    reversed_list = reversed(wordlist)
    #print(reversed_list)
    return " ".join(reversed_list)

In [33]:
master_yoda("I am Home")

'Home am I'

In [35]:
def almost_there(n):
    if 90 <= n <= 110 or 190 <= n <= 210:
        return True
    else:
        return False

In [36]:
almost_there(104)

True

In [37]:
almost_there(150)

False

In [67]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            
            return True
    return False

In [68]:
has_33([1,2,3])

False

In [69]:
has_33([1,2,3,4,3,3])

True

In [74]:
def paper_doll(text):
    new_text =''
    for letter in text:
        letter *= 3
        new_text += letter
    return new_text

In [75]:
paper_doll("hello")

'hhheeellllllooo'

In [99]:
def blackjack(a,b,c):
    nums = [a,b,c]
    #print(nums)
    sums = 0
    if 11 in nums and sum(nums)> 21:
        sums = sum(nums) - 10
    else:
        sums = sum(nums)
    if sums > 21:
        return "BUSTED"
    else:
        return sums

In [102]:
blackjack(9,9,11)

19

In [107]:
def summer_69(arr):
    
    list_to_exclude = []
    
    if 6 in arr and 9 in arr:
        if arr.index(9) > arr.index(6):
            list_to_exclude = arr[arr.index(6): arr.index(9) +1]
        else:
            return "Wrong Array"
    return sum(arr) - sum(list_to_exclude)

In [108]:
summer_69([1,3,5])

9

In [109]:
summer_69([4,5,6,7,8,9])

9

In [110]:
summer_69([2,1,6,9,11])

14

In [113]:
def spy_games(numbers):
    spy =''
    for number in numbers:
        if number == 0 or number == 7:
            spy += str(number)
    if '007' in spy:
        return True
    else:
        return False

In [114]:
spy_games([1,2,4,0,6,0,7,0])

True

In [115]:
spy_games([1,7,2,0,0])

False

In [153]:
def count_primes(n):
    count = 0
    for num in range(2, n+1):
        for j in range (2, int(num/2) + 1):
            if num%j ==0 :
                break
        else:
            print(num, "is a prime number")    
            count = count+1
    return count

In [154]:
count_primes(100)

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

25

In [147]:
num = 2
  
# If given number is greater than 1
if num > 1:
  
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
  
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
  
else:
    print(num, "is not a prime number")

2 is a prime number

In [146]:
for i in range (2,2):
    print("ok")

In [155]:
import math
def vol(rad):
    return (4/3)*(math.pi)*(rad**3)

In [156]:
vol(2)

33.510321638291124

In [157]:
def ren_check(num, low, high):
    return low <= num <= high

In [158]:
ren_check(2,5,7)

False

In [159]:
ren_check(5,2,7)

True

In [165]:
def up_low(s):
    count_up = 0
    count_low = 0
    for letter in s:
        if letter.islower():
            count_low += 1
        elif letter.isupper():
            count_up += 1
    print("No. of Uppper Case characters : {}".format(count_up))
    print("No. of Lower Case characters : {}".format(count_low))

In [166]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of Uppper Case characters : 4
No. of Lower Case characters : 33

In [169]:
def unique_list(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

In [170]:
unique_list([1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,1,1,2,2])

[1, 2, 3, 4, 5]

In [178]:
def multiply(numbers):
    total = 1
    for number in numbers:
        total *= number
    return total

In [179]:
multiply([2,3,4])

24

In [189]:
import string
def ispangram(str):
    alphabet = set(string.ascii_lowercase)
#     print(alphabet)
#     str_set = set(str.replace(" ", ""))
    print(str_set)
    
    if alphabet == str_set:
        return True
    else:
        return False

In [191]:
ispangram('abdadfcdefghijklmonpqrstuvwzyzasx')

{'n', 't', 'l', 'y', 'e', 'a', 'r', 'd', 'v', 'f', 'p', 'b', 'q', 'm', 'o', 'h', 'z', 'g', 'u', 'w', 'x', 'j', 'c', 'i', 'k', 's'}
{'n', 't', 'l', 'y', 'e', 'a', 'r', 'd', 'v', 'f', 'p', 'b', 'q', 'm', 'o', 'h', 'z', 'g', 'u', 'w', 'x', 'j', 'c', 'i', 'k', 's'}

True

In [188]:
set('abdadfcdefghijklmonpqrstuvwzyzas')

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y',
 'z'}